<h1>Add a furry friend to the shelters</h1>

<form class="" action="/animal_new" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="name" value="">
  <label for="gender">gender</label>
  <input type="text" name="gender" id="gender" value="">
  <label for="type">type</label>
  <input type="text" name="type" id="type" value="">
  <label for="breed">breed</label>
  <input type="text" name="breed" id="breed" value="">
  <label for="date_of_admittance">date_of_admittance</label>
  <input type="text" name="date_of_admittance" id="date_of_admittance" value="">
  <button type="submit" name="button">Add Animal</button>
</form>

<a href="/">Home</a>
