<h1>Add a Customer to the System</h1>

<form class="" action="/customer_new" method="post">
  <label for="name">name</label>
  <input type="text" name="name" id="name">
  <label for="phone">phone</label>
  <input type="text" name="phone" id="phone">
  <label for="animal_type_preference">animal type preference</label>
  <input type="text" name="animal_type_preference" id="animal_type_preference">
  <label for="breed_preference">breed preference</label>
  <input type="text" name="breed_preference" id="breed_preference">
  <button type="submit" name="button">Add Customer</button>
</form>

<a href="/">Home</a>
