<h1>Admin Page</h1>

<p>Welcome to the Admin page</p>
<p>Here, you can control the animal shelter's database and access it visually</p>
<br>

<p><a href="/">Home</a></p>
<p><a href="/unadopted_animals">Unadopted Animals</a></p>
<p><a href="/adopted_animals">Adopted Animals</a></p>
<p><a href="/add_animal">Add an Animal</a></p>
<p><a href="/add_customer">Add a new Customer</a></p>
<p><a href="/view_customers">View all Customers</a></p>
<p><a href="/animal_adopt">Set Animal to Customer</a></p>
