<h1>Animals Available for Adoption</h1>

<ul>
  <% @unadopted_animals.each do |animal| %>
    <li><a href="animal/<%= animal.fetch('id') %>"><%= animal.fetch('name') + " " + animal.fetch('customer_id').to_s %></a></li>
  <% end %>
</ul>

<a href="/">Home</a>
