<h1>Animals Available for Adoption</h1>

<ul>
  <% @adopted_animals.each do |animal| %>
    <li><a href="animal/<%= animal.fetch('id') %>"><%= animal.fetch('name') %></a></li>
  <% end %>
</ul>

<a href="/">Home</a>
