<h1>Animal Adoption Form</h1>


<form action="/adoption-form" method="post">
  <label for="phone-info">Phone Number of Adopting Person</label>
  <input type="text" name="phone-info" id="phone-info">
  <button type="submit" name="button">Change Adoption Status</button>
</form>
